parameters:
	ignoreErrors:
		-
			message: '#^Call to function is_iterable\(\) with array\|Iterator will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/ServiceClient.php
