parameters:
	ignoreErrors:
		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: src/Command.php

		-
			message: '#^Call to function is_iterable\(\) with array\|Iterator will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/ServiceClient.php

		-
			message: '#^Callable callable\(Psr\\Http\\Message\\RequestInterface, array\)\: GuzzleHttp\\Promise\\PromiseInterface invoked with 1 parameter, 2 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/ServiceClient.php

		-
			message: '#^Parameter \#1 of callable callable\(Psr\\Http\\Message\\RequestInterface, array\)\: GuzzleHttp\\Promise\\PromiseInterface expects Psr\\Http\\Message\\RequestInterface, GuzzleHttp\\Command\\CommandInterface given\.$#'
			identifier: argument.type
			count: 1
			path: src/ServiceClient.php

		-
			message: '#^Ternary operator condition is always true\.$#'
			identifier: ternary.alwaysTrue
			count: 1
			path: src/ServiceClient.php
